<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="true"/>
    </include>

    <param name="robot_description" 
           command="$(find xacro)/xacro 
                   '$(find simple4wheeler)/model/simple4wheeler.xacro'"/>

    <node name="spawn_urdf"
          pkg="gazebo_ros"
          type="spawn_model"
          args="-param robot_description -urdf -model simple4wheeler"/>
</launch>